<div class="row">
		<div class="col-md-12">
			<form name="sendMail" novalidate>
				<div class="form-group">
				    <label for="exampleInputEmail1">Direcci&oacuten de correo Electr&oacutenico</label>
				    <div class="input-group">
				    	<input type="text" class="form-control" name="email" ng-model="emails" placeholder="ejemplo@gps.cl, ejemplo2@gps.cl" required validator-mails="{{emails}}">
				    	<div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
				    </div>
				    <div class="error-container">
		                  <small class="text-muted" ng-show="sendMail.email.$error.required">
		                  		 Debe ingresar al menos un correo electr&oacutenico
		                  </small>
                 	  	</div>
                 	  	<div class="error-container">
	                  <small class="text-muted" ng-show="sendMail.email.$error.validatorMails">
	                  		 El o los mail(s) ingresado(s) no es(son) v&aacutelido(s)
	                  </small>
                  	</div>
				  </div>
				  <div class="form-group">
				 	  <label for="exampleInputEmail1">Reporte Adjunto</label>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox" ng-required="showRequired" ng-model="checkbox.xls" ng-change="handleChange()"> Formato Microsoft Excel (XLS)
					    </label>
					  </div>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox" ng-required="showRequired" ng-model="checkbox.pdf" ng-change="handleChange()"> Formato Adobe Acrobar (PDF)
					    </label>
					  </div>
					  <div class="error-container">
		                  <small class="text-muted" ng-show="showRequired">
		                  		 Debe seleccionar al menos una opci&oacuten
		                  </small>
                  	  </div>
				  </div>
				  <div class="form-group">
					<button type="button" class="btn btn-primary pull-right" ng-click="sendMails(emails, checkbox)"
								value="Enviar" title="sendMail" ng-disabled="!sendMail.$valid">
							<span><span ng-if="realm=='entel'" class="entel-btn">[ </span>Enviar<span ng-if="realm=='entel'" class="entel-btn">_</span></span>
					</button>
				  </div>
			  </form>
		</div>
</div>