<div class="col-md-12">
    <div class="navbar bg-primary secondary-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text-white font-entel" href="#">&nbsp;Dar de Baja</a>
                <button type="button" class="navbar-toggle collapsed boder-white" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only bg-white">Toggle navigation</span>
                    <span class="icon-bar bg-white"></span>
                    <span class="icon-bar bg-white"></span>
                    <span class="icon-bar bg-white"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right"  >

                    <li class="dropdown" ng-show="reportShow">
                        <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-download" arial-hidden="true"></span>
                            Expotar <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="text-white" ng-click="generateReport('xls')">Exportar a Excel</a></li>
                            <li><a href="#" class="text-white" ng-click="generateReport('pdf')">Exportar a PDF</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <uib-alert ng-repeat="alert in alertError" ng-show="showAletError" type="{{alert.type}}" close="closeAlertError($index)">{{alert.msg}}</uib-alert>
    <uib-alert ng-repeat="alert in alertExportOk" ng-show="showAlertExportOk" type="{{alert.type}}" close="closeAlertError($index)">{{alert.msg}}</uib-alert>
    <uib-alert ng-repeat="alert in alertExporterror" ng-show="showAlertExportError" type="{{alert.type}}" close="closeAlertError($index)">{{alert.msg}}</uib-alert>
    
</div>
<span us-spinner="spinnerconfig" spinner-key="spinner-6"></span>
<view-search ng-if="filterReport" report="typeReport"></view-search>
<div class="col-sm-12" ng-show="reportShow">
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <a class="panel-primary no-hover" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <div class="panel-heading">
                    <h4 class="panel-title"><span ng-if="realm == 'entel'" class="message-important">[ </span>Reporte</h4>
                </div>
            </a>                            
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body overflow-y">
                    <table  datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-hover">
<!--                        <div style="margin-top: 5px; margin-bottom: 5px; float: right; margin-right: 78px;">
                            <label style="margin-right: 5px;">Seleccionar todo</label>
                            <input type="checkbox" ng-click="checkAllRes(selectedRes, unidades)" ng-model="selectedRes">
                        </div>-->
                        <thead>
                            <tr>
                                <th class="textLeft">Nombre</th>
                                <th class="textLeft">Patente</th>
                                <th class="textLeft">Imei</th>
                                <th class="textLeft">Ultima Actividad</th>
                                <th class="textLeft">SimCard</th>
                                <th class="textCenter">Seleccionar Unidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="unit in unidades">
                                <td align="left">
                                    {{ unit.name || "por definir"}}
                                </td>
                                <td align="left">
                                    {{ unit.plateNumber || "por definir"}}
                                </td>
                                <td align="left">
                                    {{ unit._m || "por definir"}}
                                </td>
                                <td align="left">
                                    {{ unit.dateUnit | date: 'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                                <td align="left">
                                    {{ unit.simcard || "por definir"}}
                                </td>
                                <td align="center">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="checkbox" ng-model="unit.unitSelected">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading header-info-unit">Dar de baja las Unidades seleccionadas
        <label ng-show="success" style="float: right; margin-right: 3%;">Espere por favor....</label>
    </div>
    <table class="containerLoad table table-bordered" style="margin-top: 0%;">
        <thead>
        <td class="col-xs-10 col-s10 col-md-10" align="center">
            <div ng-if="barNav" style="margin-top: 0%; margin-left: 0%;" class="progress-bar"></div>
        </td>
        <td class="col-xs-2 col-s2 col-md-2" align="center">
            <button type="button" class="btn btn-primary" ng-click="unsubscribe()"><img src="backoffice/resources/images/pen.png"  height="25" width="25"/> Dar de Baja</button>
        </td>
        </thead>
    </table>
</div>
<!-- Hace que la pag quede sin accion -->
<div class="backColor loader" ng-show="success"></div>

<modal title="Detalle Baja" visible="showModalUnsusbcribe" style="width: 50%; margin-left: 25%;">
    <div class="row">
        <div class="col-md-12">
            <form name="insertParameters" novalidate>
                <table class="table table-bordered">
                    <tr>
                        <td class="active col-xs-3 col-sm-3 col-md-3" style="text-align: right;"><strong>Motivo de Baja:</strong></td>
                        <td class="col-xs-10 col-sm-10 col-md-10">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <select name="unsuscribeMotive" ng-model="darDeBajaSeleccionado.motivo" class="form-control" required>
                                    <option ng-repeat="motivoBaja in motivoBajaGroup" value="{{motivoBaja.reason}}">{{motivoBaja.reason}}</option>
                                </select>
                                <div class="error-container">
                                    <small class="text-muted" ng-show="insertParameters.unsuscribeMotive.$error.required">
                                        Debe ingresar el motivo
                                    </small>
                                </div>                              
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active col-xs-3 col-sm-3 col-md-3" style="text-align: right;"><strong>Solicitante Baja:</strong></td>
                        <td class="col-xs-10 col-sm-10 col-md-10">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <select name="unsuscribeApplicant" ng-model="darDeBajaSeleccionado.solicitante" class="form-control" required>
                                    <option ng-repeat="solicitanteBaja in solicitanteBajaGroup" value="{{solicitanteBaja.applicant}}">{{solicitanteBaja.applicant}}</option>
                                </select>
                                <div class="error-container">
                                    <small class="text-muted" ng-show="insertParameters.unsuscribeApplicant.$error.required">
                                        Debe ingresar el solicitante
                                    </small>
                                </div>                              
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-primary pull-right" ng-click="unsubscribeUnit()" ng-disabled="insertParameters.$invalid">
                                    <span>Siguiente</span>
                                </button>
                            </div>
                        </td>
                    </tr>                        
                </table>
            </form>
        </div>
    </div>
</modal>
